<%- include('partials/header'); -%>


<section class="comment">
    <h4 class="comment__header"><%= postTitle %></h4>
    <p class="comment__txt post"><%= PostText %></p>
    
</section>





<%- include('partials/footer'); -%>       