<%- include('partials/header'); -%>

<section class="comment">
    <h4 class="comment__header"><%= title %></h4>
    <p class="comment__txt"><%= content %></p>
    
</section>

<%- include('partials/footer'); -%>       