$fonts: 'Lora', serif;
// $primary-color: #540375;

// colors
$header-bg-color: #ECECEC;
$header-txt-color:#FF734B;
$footer-bg-color: #13005A;
$footer-txt-color: #F7F7F7;
$button-bg-color: #3EC70B;
$button-txt-color: #FFFBF5;


$spacing: 6px;
// $gap: 1rem;

