@import 'variables';
@import 'mixins';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}


html {
    font-size: 62.5%;
    
 }

 body {
    
    height: 100vh;
    display: grid;
    grid-template-areas: "header" "main" "footer";

    // grid-template-columns: auto;
    grid-template-rows: auto 1fr auto ;
 }
    


header {
    display: flex;
    justify-content: space-around;
    grid-area: header;
    padding: 3rem 0;
    background-color: $secondary-color;
    color: $txt-color;
}

main {
    grid-area: main;
    background-color: bisque;
    
}

footer {
    grid-area: footer;
    background-color: gold;
}

h1 {
    letter-spacing: $spacing;
    font-family: $fonts;
    font-weight: 700;
    font-size: 5rem;
    
}

nav {
    gap: 6rem;
    display: flex;
    align-items: center;
    letter-spacing: $spacing;
    font-family: $fonts;
    font-weight: 400;
    font-size: 1.5rem;
    // white-space: nowrap;
    
}

