@import 'variables';
@import 'mixins';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}


html {
    font-size: 62.5%;
 }

 body {
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    // grid-template-columns: auto;
    grid-template-rows: auto 1fr auto ;
 }
    


header {
    position: fixed;
    top: 0;
    width: 100vw;
    min-height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: header;
    padding: 3rem 0;
    background-color: $header-bg-color;
    color: $header-txt-color;
}

h2 {
    letter-spacing: $spacing;
    font-family: $fonts;
    font-weight: 500;
    font-size: 3.5rem; 
    // text-align: center;  
    
    @media screen and (max-width: 500px) {
        & {
            font-size: 2.5rem;
        }
    }
}

nav {
    display: flex;
    align-items: center;
}

a {
    color: $header-txt-color;
    text-decoration: none;
}

.menu {
    gap: 6rem;
    display: flex;
    align-items: center;
    letter-spacing: $spacing;
    font-family: $fonts;
    font-weight: 400;
    font-size: 1.5rem;
    cursor: pointer;

    & :hover {
        color: #567189;
    }

    @media screen and (max-width: 1100px) {
        & {
            position: fixed;
            left: -100%;
            top: 11rem;
            gap: 0;
            flex-direction: column;
            background-color: $header-bg-color;
            width: 100%;
            text-align: center;
            transition: 0.3s;
        }

        &__item {
            margin: 16px 0;
        }

        &.active {
            left: 0;
        }
    }
}

.hamburger {
    display: none;
    cursor: pointer;

    @media screen and (max-width: 1100px) {
        & {
            display: block;
        }

        &.active .bar:nth-child(2) {
            opacity: 0;
        }
        &.active .bar:nth-child(1) {
            transform: translateY(1rem) rotate(45deg);
        }
        &.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }


    }
}

.bar {
    display: block;
    width: 3.5rem;
    height: 4px;
    margin: .5rem 0;
    transition: all 0.3s ease;
    background-color: $header-txt-color;
}



main {
    grid-area: main;
    background-color: bisque;
    margin-top: 11rem;
    
}

h1 {
    letter-spacing: $spacing;
    font-family: $fonts;
    font-weight: 700;
    font-size: 5rem;

    @media screen and (max-width: 600px) {
        & {
            font-size: 4em;
        }
    }
    
}


footer {
    grid-area: footer;
    background-color: $footer-bg-color;
    color: $footer-txt-color;
    letter-spacing: $spacing;
    font-family: $fonts;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 2rem 0;
    
    text-align: center;

    @media screen and (max-width: 500px) {
        & {
            font-size: 1.2rem;
        }
    }
}



.main-content {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    margin-left: 20vw;
    margin-right: 20vw;
    padding-top: 5vh;
    padding-bottom: 5vh;

    @media screen and (max-width: 1100px) {
        & {
            margin-right: 15vw;
            margin-left: 15vw;
        }
    }

    @media screen and (max-width: 300px) {
        & {
            margin-right: 10vw;
            margin-left: 10vw;
        }
    }
    
}



.comment__header {
    letter-spacing: $spacing;
    font-family: $fonts;
    font-weight: 600;
    // font-size: 3.5vw; 
    font-size: 3.5em; 
    
    @media screen and (max-width: 600px) {
        & {
            font-size: 3em;
        }
    }
}

.comment__main-txt {
    margin-top: 4rem;
    letter-spacing: 5px;
    font-family: $fonts;
    font-weight: 400;
    font-size: 2.5rem; 
    line-height: 5rem;

    @media screen and (max-width: 600px) {
        & {
            line-height: 3.5rem;
        }
    }
}

.comment__txt {
    margin-top: 4rem;
    letter-spacing: 5px;
    font-family: $fonts;
    font-weight: 400;
    font-size: 2.5rem; 
    line-height: 5rem;

    @media screen and (max-width: 600px) {
        & {
            line-height: 3.5rem;
        }
    }
    
}

.read-more {
    letter-spacing: 4px;
    font-family: $fonts;
    font-weight: 600;
    font-size: 2rem; 
    line-height: 5rem;
    display: inline-block;
    color: blue;
    cursor: pointer;

    &:hover {
        color: lightskyblue;
    }
}



/*Compose styling*/

form {
    margin-top: 4rem;
}

input,
textarea {
    width: 100%;
    height: 30rem;
    padding: 1.2rem 2rem;
    margin-top: 1rem;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: .5rem;
    background-color: #f8f8f8;
    font-size: 1.5rem;
    letter-spacing: 3px;
    resize: none;
  }

  input {
    height: 5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 4px;
  }

  label {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 4px;

    @media screen and (max-width: 500px) {
        & {
            font-size: 1.5rem;
            letter-spacing: 2px;
            font-weight: 400;
        }
    }
  }

  button {
    margin-top: 2rem;
    background-color: $button-bg-color;
    color: $button-txt-color;
    border:none; 
    border-radius: 1rem; 
    padding: 2rem 3rem;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 4px;
    cursor: pointer;

    @media screen and (max-width: 500px) {
        & {
            padding: 1rem 2rem;
            font-size: 1.5rem;
            letter-spacing: 2px;
        }
    }
  }

  

