*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  height: 100vh;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "footer";
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  min-height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  padding: 3rem 0;
  background-color: #ECECEC;
  color: #FF734B;
}

h2 {
  letter-spacing: 6px;
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 3.5rem;
}

@media screen and (max-width: 500px) {
  h2 {
    font-size: 2.5rem;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  color: #FF734B;
  text-decoration: none;
}

.menu {
  gap: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 6px;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu :hover {
  color: #567189;
}

@media screen and (max-width: 1100px) {
  .menu {
    position: fixed;
    left: -100%;
    top: 11rem;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #ECECEC;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .menu__item {
    margin: 16px 0;
  }
  .menu.active {
    left: 0;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(1rem) rotate(45deg);
            transform: translateY(1rem) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}

.bar {
  display: block;
  width: 3.5rem;
  height: 4px;
  margin: .5rem 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #FF734B;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  background-color: bisque;
  margin-top: 11rem;
}

h1 {
  letter-spacing: 6px;
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 5rem;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 4em;
  }
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: #13005A;
  color: #F7F7F7;
  letter-spacing: 6px;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 2rem 0;
  text-align: center;
}

@media screen and (max-width: 500px) {
  footer {
    font-size: 1.2rem;
  }
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8rem;
  margin-left: 20vw;
  margin-right: 20vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

@media screen and (max-width: 1100px) {
  .main-content {
    margin-right: 15vw;
    margin-left: 15vw;
  }
}

@media screen and (max-width: 300px) {
  .main-content {
    margin-right: 10vw;
    margin-left: 10vw;
  }
}

.comment__header {
  letter-spacing: 6px;
  font-family: "Lora", serif;
  font-weight: 600;
  font-size: 3.5em;
}

@media screen and (max-width: 600px) {
  .comment__header {
    font-size: 3em;
  }
}

.comment__main-txt {
  margin-top: 4rem;
  letter-spacing: 5px;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 5rem;
}

@media screen and (max-width: 600px) {
  .comment__main-txt {
    line-height: 3.5rem;
  }
}

.comment__txt {
  margin-top: 4rem;
  letter-spacing: 5px;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  inline-size: 40ch;
}

@media screen and (max-width: 1000px) {
  .comment__txt {
    inline-size: 20ch;
  }
}

@media screen and (max-width: 600px) {
  .comment__txt {
    line-height: 3.5rem;
    inline-size: 12ch;
  }
}

.read-more {
  letter-spacing: 4px;
  font-family: "Lora", serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 5rem;
  display: inline-block;
  color: blue;
  cursor: pointer;
}

.read-more:hover {
  color: lightskyblue;
}

/*Compose styling*/
form {
  margin-top: 4rem;
}

input,
textarea {
  width: 100%;
  height: 30rem;
  padding: 1.2rem 2rem;
  margin-top: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: .5rem;
  background-color: #f8f8f8;
  font-size: 1.5rem;
  letter-spacing: 3px;
  resize: none;
}

input {
  height: 5rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 4px;
}

label {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 4px;
}

@media screen and (max-width: 500px) {
  label {
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 400;
  }
}

button {
  margin-top: 2rem;
  background-color: #3EC70B;
  color: #FFFBF5;
  border: none;
  border-radius: 1rem;
  padding: 2rem 3rem;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 4px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
}
/*# sourceMappingURL=style.css.map */